<form class="mt-5" method="POST" action="">
  <div class="mb-3">
    <label for="search-input" class="form-label">Keywords</label>
    <input type="text" name="k" class="form-control" id="search-input" aria-describedby="searchHelp" placeholder="Enter keywords...">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>