@import "variables";

h1{
    color: $red-color;
}
h2{
    color: $blue-color;
}
html, body {
    margin:0;
    padding:0;
    height:100%;
 }
.app .container {
    min-height: 1000px;
    position:relative;
    padding: 100px;
 }
 header {
    background:#ff0;
    padding:10px;
 }